*{
  /*font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;*/
  font-family: "Century Gothic";
}

html,body
{
  min-width: 800px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.wrapper {
  height:100%;
  width:100%;
}

.header {
  width:100%;
  height:25%;
  position: fixed;
  top: 0;
}

.contentParent{
  overflow: visible;
  overflow-x: hidden;
  position: absolute;
  top: 25%;

  background: #E6E6E6;

  width: 100%;
  min-height: 75%;

}

.footer {
  /*ans Ende irgendwie...*/
}

/*Generelles, das auf jeder Seite zu sehen sein sollte */

.facebookTag, .googleplusTag, .twitterTag{
  height: 4.3vh;
  width: 4.3vh;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0.928%;
}

.facebookTag {
  background-image: url("../Resources/Pictures/fb.png");
  top: 15%;
}

.googleplusTag{
  background-image: url("../Resources/Pictures/g+.png");
  top: 42.5%;
}

.twitterTag{
  background-image: url("../Resources/Pictures/twitter.png");
  top: 70%;
}

.topMenu{
  background: #4c4c4c; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNGM0YzRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjMTExMTExIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjMTExMTExIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEzMTMxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #000000 41%, #111111 85%, #111111 85%, #131313 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(41%,#000000), color-stop(85%,#111111), color-stop(85%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#000000 41%,#111111 85%,#111111 85%,#131313 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #4c4c4c 0%,#000000 41%,#111111 85%,#111111 85%,#131313 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #4c4c4c 0%,#000000 41%,#111111 85%,#111111 85%,#131313 100%); /* IE10+ */
  background: linear-gradient(135deg,  #4c4c4c 0%,#000000 41%,#111111 85%,#111111 85%,#131313 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  width:100%;
  height:calc(99% - 30px);

  position: relative;
}

.siteContent{
  position: absolute;
  left: 5%;
  top: 0%;
  right: 5%;

  height: auto;

  background: #A59991;
}

.siteContent p{
  font-size:18px;
}

.companyFontDiv{

  position: absolute;
  top: 22px;
  left: 40px;
}

.companyFont{
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 45.5999984741211px;
  color: #B2B2B2;

  text-shadow: 2px 1px 1px #000;
}

.logoImage {
	height: 100%;
  width: 15vh;
}

.logoImage img {
	height: 100%;

	margin: 0 0 0 30px;
}


.menu{
  width: 100%;
  height: 30px;
  background: #CCCCCC;
  position: relative;

  border-bottom: 1px solid #CCC;
  border-top: 1px solid black;
}

.menuElement{
  display: block;
  position: absolute;

  text-overflow: ellipsis;
  white-space: nowrap;
	overflow: hidden;

  /*border-right: 1px solid black;
  border-left: 1px solid black;*/
  font-size: 20px;
  text-decoration: none;test
  color: #141414;
  text-align: center;

  height: 30px;
  width:20%;

  -webkit-transition: background-color 300ms ease-in;
  -moz-transition: background-color 300ms ease-in;
  -o-transition: background-color 300ms ease-in;
  -ms-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

.menuElement span{
  position: relative;
  top: 10%;
}

.menuElement:hover{
  background-color: rgba(244, 244, 0, 0.3);
}

.menuElement:active{
  color: #141414;
}

.menuElement:visited{
  color: #141414;
}

.menuElementTwo{
  left: 20%;
}
.menuElementThree{
  left: 40%;
}
.menuElementFour{
  left: 60%;
}
.menuElementFive{
  left: 80%;
}

/*Generelles Ende*/
