.impressum {
	width:95%;
	height:50%;
	text-align: center;
	margin:10px;
	margin-bottom: 30px;
}

.impressum h1 {
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 60px;
	font-variant: normal;
	font-weight: bold;
	line-height: 45.5999984741211px;
  	color: #B2B2B2;
 	text-shadow: 2px 1px 1px #000;
}

.impressum table {
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 32px;
	width: 95%;
	font-variant: normal;
	color: #B2B2B2;
	text-align: center;
	border: none;
}

.impressum td {
	border:none;
}

.impressum img {
	align: middle;
	width: 648px;
	height: auto;
}
 
.social {
	width:100%;
	margin: 5px;
}

.social h1{
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

  	color: #404040;
}

.social hr {
	width:98%;
	color: #222;
	border-color: solid #222;
	background-color: solid #222;
}

.twitterTimeline, .googlePosts, .facebookFeed {
	width:30%;
	margin:10px 1% 0 1%;
	float:left;
	text-align: center;
	overflow: auto;
}

.googlePost {
	float:left;
}