.impressum {
	width:calc(105% - 13px);
	height:50%;
	text-align: center;
	margin:10px;
	margin-bottom: 30px;
}

.impressum h1 {
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 60px;
	font-variant: normal;
	font-weight: bold;
	line-height: 45.5999984741211px;
  color: #B2B2B2;
 	text-shadow: 2px 1px 1px #000;
}

.impressum table {
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 32px;
	width: 95%;
	font-variant: normal;
	color: black;
	text-align: center;
	border: none;
}

.impressum td {
	border:none;
}

.impressum img {
	width: 100%;
	height: 800px;
}
