
/*Kontaktformular Start*/

.kontaktformular  {
  position:auto;
  left: calc(2.5% - 3px);
  border: 3px ridge #D6D633;
  -webkit-box-shadow: 1px -1px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 20px -1px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 20px -1px rgba(0,0,0,0.75);
  background: gray;
  width: auto;
  margin: 20px;  
  padding: 20px;
  float: left;
  clear: both;
  font-size: 18px;
}
   
.kontaktformular fieldset {
  margin: 10px 0;
}

.kontaktformular a {
  color: #D6D633; 
  text-decoration: none;
}

.kontaktformular a:hover {
  color: #D6D633;
}
  
.kontaktformular legend {
  background: #E6E6E6;
  padding: 3px 5px;
  border: 2px ridge #D6D633;
  box-shadow: 1px -1px 20px -1px rgba(0,0,0,0.75);
  text-transform: uppercase;
}
    
.kontaktformular label {
  width: 100px;
  float: left;
  clear: both;
  padding: 3px 10px;
  margin: 3px 0;
}
          
.kontaktformular input, .kontaktformular textarea, .kontaktformular select {
  border-right: 1px solid #ddd; 
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #666666; 
  border-top: 1px solid #666666;
  background: #E6E6E6;
  padding: 0px 3px;
  margin: 3px 0;
  width: 200px;
}

.kontaktformular input:active, .kontaktformular input:focus, .kontaktformular input:hover { 
  background: #D6D633;
}
.kontaktformular textarea:active, .kontaktformular textarea:focus, .kontaktformular textarea:hover { 
  background: #D6D633;
}
.kontaktformular select:active, .kontaktformular select:focus, .kontaktformular select:hover { 
  font-size: 18px;
  background: #D6D633;
}

.kontaktdaten table, .anfrage table, { 
  border-spacing:0px; 
  width:60px; 
  border:0px solid;
}

.label { 
  width:120px; 
  padding:0px;
}

.field { 
  width:250px; 
  padding:0px;
}

.error { 
  width:200px; 
  padding:0px 0px 0px 5px;
}

.captchareload { 
  padding-left:10px;
}

input.errordesignfields, textarea.errordesignfields, select.errordesignfields { 
  background-color:#E6E6E6;
}

#checkid {
  width: auto;
}

#checkid2 {
  width: auto;
}

.buttons input { 
  width:80px;
  text-align:left;
}

.buttons input, .captchareload img { 
  background: #E6E6E6;
  font-size: 18px; 
  border-top:2px solid #fff; 
  border-left:2px solid #fff; 
  border-bottom:2px solid #666666; 
  border-right:2px solid #666666;
}
.buttons input:hover, .captchareload img:hover { 
  background: #D6D633; 
  border-top:2px solid #ddd; 
  border-left:2px solid #ddd; 
  border-bottom:2px solid #fff; 
  border-right:2px solid #fff;
}

.pflichtfeld {
   color: #800000;
 }
 
.zurueck {
  color: #ddd;
}


/*Kontaktformular Ende*/