
/*Produkte Start*/

.product{

  position: relative;
  top: 2%;
  left: calc(2.5% - 3px);

  border: 3px ridge #D6D633;

  -webkit-box-shadow: 1px -1px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 20px -1px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 20px -1px rgba(0,0,0,0.75);

  background: gray;
  width: 95%;
  margin-bottom: 20px;
}

.product img{

  position: absolute;
  right: 1%;
  top: 25px;

  width:250px;
  height:200px;

  border: 1px ridge black;
}


.productTextDiv{

  position: relative;
  left: 2%;


  width: calc(100% - 250px - 51px);
}

.productInformation{

  position: relative;
  display: block;

  width: 300px;
  height: 28px;
  text-decoration: none;

  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(62%,rgba(71,71,71,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 62%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 62%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 62%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 62%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  border: 1px solid black;
  border-radius: 5px;

  bottom: 2%;
  left: calc(50% - 150px);

  margin-bottom: 5px;
}

.productInformation:active{

  top: 1px;
}

.productInformation span{

  position: relative;
  top: 20%;
  left: 8%;
  color: white;
}

.productInformation:visited{

  color: white;
}

.subsiteInformation{

  position: relative;
  left: 3%;

  font-size: 18px;
}

/*Produkte Ende*/
